<span class="meta">
  <span class="title">{{building.name}}</span>
  <span class="elements">
    <span class="head">Owned:</span>
    <ul class="owned">
      <li>{{owned}}</li>
    </ul>
    <span class="head">Gain:</span>
    <ul class="rewards">
      {{#each-in building.return as |reward amount|}}
        <li class="data-benefit">+{{amount}} {{reward}}</li>
      {{/each-in}}
    </ul>
    <span class="head">Cost:</span>
    <ul class="costs">
      {{#each-in building.price as |resource cost|}}
        <li class="data-cost">-{{cost}} {{resource}}</li>
      {{/each-in}}
    </ul>
  </span>
</span>
<a class="build" href="#" {{action "purchaseBuilding" building}}>
  <span>Build</span>
</a>
