<ul>
  <li>
    {{inline-svg "assets/images/icons/build"}}
    <ul>
      {{#each buildings.types as |building|}}
        {{building-sale building=building}}
      {{/each}}
    </ul>
  </li>
  <li>
    {{inline-svg "assets/images/icons/tech"}}
    <ul>
      {{#each technologies.types as |tech|}}
        {{tech-sale tech=tech}}
      {{/each}}
    </ul>
  </li>
  <li class="attack">
    {{inline-svg "assets/images/icons/attack"}}
    <ul>
      {{#each weapons.types as |weapon|}}
        {{weapon-sale weapon=weapon}}
      {{/each}}
    </ul>
  </li>
</ul>