<ul>
  <li>
    {{inline-svg "assets/images/icons/build"}}
    <ul>
      {{#each buildings.types as |building|}}
        <li>
          <span class="meta">
            <span class="title">{{building.name}}</span>
            <span class="elements">

              <span class="head">Owned:</span>
              <ul class="owned">
                <li>{{#if build.count}}{{building.count}}{{else}}0{{/if}}</li>
              </ul>
              <span class="head">Gain:</span>
              <ul class="rewards">
                {{#each-in building.return as |reward amount|}}
                  <li class="data-benefit">+{{amount}} Survivors</li>
                {{/each-in}}
              </ul>
              <span class="head">Cost:</span>
              <ul class="costs">
                {{#each-in building.price as |resource cost|}}
                  <li class="data-cost">-{{cost}} {{resource}}</li>
                {{/each-in}}
              </ul>
            </span>
          </span>
          <a class="build" href="#" {{action "purchaseBuilding" building}}>
            <span>Build</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </li>
  <li>
    {{inline-svg "assets/images/icons/tech"}}
    <ul>
      <li>
        <span class="meta">
          <span class="title">Lean-to</span>
          <span class="elements">
            <span class="owned">Owned 
              <span class="data-owned">2</span>
            </span>
            <span class="benefit">
              Gain:
              <span class="data-benefit">+2 Survivors</span>
            </span>
            <span class="cost">
              Cost:
              <span class="data-cost">-2 Cloth</span>
            </span>
            <a href="#">Build</a>
          </span>
        </span>
      </li>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </li>
  <li class="attack">
    {{inline-svg "assets/images/icons/attack"}}
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </li>
</ul>