<span class="meta">
  <span class="title">{{weapon.name}}</span>
  <span class="elements">
    <span class="head">Owned:</span>
    <ul class="owned">
      <li>{{owned}}</li>
    </ul>
    <span class="head">Gain:</span>
    <ul class="rewards">
      {{#each-in weapon.power as |type amount|}}
        <li class="data-benefit">+{{amount}} {{type}}</li>
      {{/each-in}}
    </ul>
    <span class="head">Cost:</span>
    <ul class="costs">
      {{#each-in weapon.price as |resource cost|}}
        <li class="data-cost">-{{cost}} {{resource}}</li>
      {{/each-in}}
    </ul>
  </span>
</span>
<a class="build" href="#" {{action "purchase" weapon}}>
  <span>Build</span>
</a>
