<ul class="pad terminal">
  {{#each messages.list as |message|}}
    {{#if message.isText}}
      <li class="single">{{message.text}}</li>
    {{else}}
      <li class="head">{{message.text}}</li>
      <li class="collection">
        <ul>
          {{#each message.items as |item|}}
            <li>{{item.count}} {{item.type}}</li>
          {{/each}}
        </ul>
      </li>
    {{/if}}
  {{/each}}
</ul>
{{search-party-control}}
<div class="respawn">
  {{respawn-button}}
</div>
