<ul class="pad terminal">
  {{#each messages.list as |message|}}
    {{#if message.isText}}
      <li class={{message.display}}>{{message.text}}</li>
    {{else}}
      <ul class="collection">
        <li class="head">{{message.text}}</li>
        {{#each message.items as |item|}}
          <li>{{item.count}} {{item.type}}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/each}}
</ul>
{{search-party-control}}
<div class="respawn">
  {{respawn-button}}
</div>
