<section class="spawn">
  {{#link-to 'index' class="logo"}}
    {{inline-svg "assets/images/icons/respawn_r_logo"}}
  {{/link-to}}
  <div class="map">
    {{map-panel}}
  </div><!-- /.map -->
  {{actions-panel}}
  <div class="stats">
    {{progress-panel}}
    {{resource-list}}
  </div>
</section><!-- /section.spawn -->
{{story-feed}}
