<h3>
  {{inline-svg "assets/images/icons/resources"}} Resources
</h3>
<ul>
  
  <li class="survivors">
    {{inline-svg "/assets/images/icons/survivor.svg"}}
    <header>
      <h1>Survivors</h1>
      <h2 class="liquid">{{liquid-bind encampment.survivors}}/{{encampment.survivorCapacity}}</h2>
    </header>
  </li>
  
  <li>
    {{inline-svg "/assets/images/icons/food_resource.svg"}}
    <header>
      <h1>Food</h1>
      <h2>{{encampment.food}}/{{encampment.foodCapacity}}</h2>
    </header>
  </li>
  <li>
    {{inline-svg "/assets/images/icons/water_resource.svg"}}
    <header>
      <h1>Water</h1>
      <h2>{{encampment.water}}/{{encampment.waterCapacity}}</h2>
    </header>
  </li>
  <li>
    {{inline-svg "/assets/images/icons/fuel_resource.svg"}}
    <header>
      <h1>Fuel</h1>
      <h2>{{encampment.fuel}}/{{encampment.fuelCapacity}}</h2>
    </header>
  </li>
  <li>
    {{inline-svg "/assets/images/icons/cloth_resource.svg"}}
    <header>
      <h1>Cloth</h1>
      <h2>{{encampment.cloth}}/{{encampment.clothCapacity}}</h2>
    </header>
  </li>
  <li>
    {{inline-svg "/assets/images/icons/metal_resource.svg"}}
    <header>
      <h1>Metal</h1>
      <h2>{{encampment.metal}}/{{encampment.metalCapacity}}</h2>
    </header>
  </li>
</ul>